body{
    background: lightcyan;
}
.iconWeather{
    display: flex;
    flex-flow: row nowrap;
    background: greenyellow;
    align-items: center;
    color: blue;
    border-radius: 7px;
    p{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px;
        
    }
}
@-webkit-keyframes blink1 {
    10% { transform: scale(1, 1) rotate(80deg); }
    20% { transform: scale(0, 0) rotate(160deg); }
    100% { transform: scale(0, 0) rotate(0deg); }
   }
   @keyframes blink1 {
    10% { transform: scale(1, 1) rotate(80deg); }
    20% { transform: scale(0, 0) rotate(160deg); }
    100% { transform: scale(0, 0) rotate(0deg); }
   }
   #blink1 {
     position: relative;
     display: inline-block;
     color: #fff;
     text-shadow: 0 0 10px #3d7a97;
     background: #064578;
     width: 100%;
   }
   #blink1:after, #blink1:before {
     content: "";
     position: absolute; top: 0; left: 0;
     display: block;
     width: 100px;
     height: 100px;
     background-image: 
       radial-gradient(rgba(255,255,255,1), rgba(255,255,255,0) 30%),
       linear-gradient(45deg, rgba(0,0,0,0) 49%, rgba(255,255,255,.4) 50%, rgba(0,0,0,0) 51%),
       linear-gradient(135deg, rgba(0,0,0,0) 49%, rgba(255,255,255,.4) 50%, rgba(0,0,0,0) 51%);
     -webkit-animation: blink1 10s linear infinite;
     animation: blink1 10s linear infinite;
     transform: scale(0, 0) rotate(0deg);
   }
   #blink1:before {
     top: -30%;
     right: 0; left: auto;
     -webkit-animation-delay: 5s;
     animation-delay: 5s;
   }
.wrap{
    border-radius: 10px;
    margin-top: 20px;
    border: 2px solid fuchsia;
    padding: 10px;
}
